.container-fluid {
  font-family: 'FreightMacro Pro', serif;
}

body, table, .chart {
  font-family: 'Proxima Nova', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'FreightMacro Pro', serif;
  /* make titles orange */
  color: #D6A123;
  margin: 0 0 .5em;
}

/* paragraph styles */
  p {
    margin: 0 0 8px 0;
  }

.cols {
  display: flex;
  gap: 10px;
}

.nav> .nav-tabs > .tablist {
  display: inline-table;
  max-height: 500px;
  min-height: 44px;
  overflow-y: auto;
  background: #D6A123;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.navbar {
  display: block;
  background-color: #D6A123;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Proxima', serif;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a {
  color: #FFFFFF;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #D6A123;
    background-color: #FFFFFF;
    font-family: "FreightMacro Pro";
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #D6A123 !important;
    border-radius: 8px !important;
}

.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited  {
  background-color: #D6A123 !important;
    border-radius: 8px !important;
}

.color-tabs>.nav-pills>li:nth-of-type(1)>a{
  color: black;
  background-color: white;
  border-radius: 8px !important;

}

.color-tabs > .nav-pills>li:nth-of-type(1)>a:hover, .color-tabs > .nav-pills>li:nth-of-type(1)>a:focus, .color-tabs > .nav-pills>li:nth-of-type(1).active>a, .color-tabs > .nav-pills>li:nth-of-type(1).active>a:hover, .color-tabs > .nav-pills>li:nth-of-type(1).active>a:focus{
  color: white;
  background-color: #ED0A72;

}





/* Global Formats */
.main-container {
    font-family:'FreightMacro Pro', serif;
  }

.tab-content{
  margin-bottom: 50px;
}

/* Set color for unvisited links */
a:link {
  color: #ED0A72;
}

/* Set color for visited links */
a:visited {
  color: #8FAEBE;
}

/* Set color for links when mouse cursor is over them */
a:hover {
  color: #D442CF;
}

/* Set color for links at the moment they are clicked */
a:active {
  color: #D442CF;
}

/* Header image formatting */
  #header {
  padding-top: 12px;
}

/* Legend Formatting */
  .list-group-item.active {
    background-color: #D6A123;
      border-color: #D6A123;
  }

.list-group-item.active:hover {
  background-color: #000000;
    border-color: #000000;
}

.tocify {
  border-radius: 0;
}

/* Button Formatting */
  .btn {
    border-radius: 0;
  }

/*pills formatting*/
  .nav-pills>li.active>a {
    background-color: #D6A123;
  }

.nav-pills>li.active>a:focus {
  background-color: #D6A123;
}


.nav>li>a:focus {
  color: #ED0A72;
  background-color: white;
}

/* Background color of tabset when hovering */
.nav>li>a:hover {
  background-color: #ED0A72;
  color: white;
}


/* Background color of tabset when hovering */
a[role=tab] {
  color: #ED0A72
}


@media print{
    /* remove elements */
    #TOC, #toc, #header-pinned{
        display: none;
    }
    .nav-tabs{
        display: none;
    }
    .exclude{
        display: none;
    }
    .contentBlock.title{
        padding-top: 0px;
    }
    .expandContainer{
        height: fit-content !important;
        height: -moz-fit-content;
    }
    .expandFull{
        display: block !important;
    }

}
