/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font-family-sans-serif: 'Montserrat', sans-serif;
$heading-font: 'Roboto', sans-serif;

// Colors
$yellow: #D6A123;
$pink: #ED0A72;
$light-pink: lighten($pink, 20%);
$magenta: #D442CF;
$orange: #AB5833;
$yellow-brown: #978638;
$purple: #5D4E78;
$blue: #36689F;
$light-green: #70910B;
$gray-green: #858E79;
$cream: #FDFBF7;
$gray: #64605f;
$dark-gray: #696B4F;
$light-gray: #8FAEBE;

// Base document colors
$navbar-bg: $yellow; // navbar
$navbar-fg: $cream; // navbar foreground elements
$navbar-hl: $cream; // highlight color when hovering over navbar links
// $body-bg: $light-green; // page background
$body-color: $gray; // page text
$footer-bg: $cream; // footer
$link-color: $purple; // hyperlinks


/*-- scss:rules--*/

/* -------------- Global Formats -------------------*/


/* Sets the font family and size for elements with class .container-fluid (usually used for navbar text) */
.container-fluid {
  font-family: 'Proxima Nova', serif;
  font-size: 2em;
}

/* Sets the font family for body, table, and elements with class .chart */
body, table, .chart {
  font-family: 'Proxima Nova', sans-serif; /* Sets the font family */
  font-size: 1.5em;
  margin: 5px 0 5px 0;
}

/* Sets the font family, color, font size, and margin for heading elements (h1 to h6) */
h1 {
  font-family: $heading-font; /* Sets the font family */
  font-size: 3em;
  color: $blue; /* Sets the font color to an orange shade */
  margin: 5.0 0 .5em; /* Sets the margin around the headings */
}

h2, h3, h4, h5, h6 {
  font-family: $heading-font; /* Sets the font family */
  font-size: 2.0em;
  color: $yellow; /* Sets the font color to an orange shade */
  margin: 5.0 0 .5em; /* Sets the margin around the headings */
}


/* Sets the margin for paragraph elements */
p {
   margin: 15px 0 15px 0; /* Sets the margin to 15 on top and bottom, 0 pixels on right/left */
}

/* Header image formatting */
#header {
	padding-top: 12px;
}


/* Adds margin at the bottom of elements with class .tab-content */
.tab-content {
  margin-bottom: 30px; /* Adds 30 pixels margin at the bottom */
}

/* Sets color for unvisited links */
a:link {
  color: $pink; /* Sets the text color to a pink shade */
}

/* Sets color for visited links */
a:visited {
  color: $light-pink; /* Sets the text color to a shade of blue */
}

/* Sets color for links when the mouse cursor is over them */
a:hover {
  color: $light-pink; /* Sets the text color to a shade of pink */
}

/* Sets color for links at the moment they are clicked */
a:active {
  color: $cream; /* Sets the text color to a shade of pink */
}


/* -------------- Navbar + Pills Formats -------------------*/

/* Some terminology: */
/* navtabs: the tabs displayed in panel-tabset */
/* nav-link: the text inside the tabs */
/* tab-content: the content displayed when a tab is clicked */

/* Styles for the navbar */
.navbar {
  display: block; /* The element is displayed as a block-level element */
  background-color: $blue; /* Sets background color to an orange shade */
  color: $cream; /* Sets the text color to white */
  font-weight: bold; /* Sets the font weight to bold */
  font-family: $font-family-sans-serif; /* Sets the font family */
  font-size: 100%;

}

/* Make active navbar tab yellow and inactive ones cream */
.navbar-nav .nav-link, .navbar-nav .nav-link.show {
    color: $cream;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: $yellow;
}

/* Styles the tablist inside .nav-tabs which is inside .nav */
.nav > .nav-tabs > .tablist {
  display: inline-table; /* The element is displayed as an inline-level table */
  overflow-y: auto; /* Adds a scrollbar if the content overflows vertically */
  background-color: $pink;
  border: 1px solid #ddd; /* Sets border around the element */
  border-radius: 4px; /* Rounds the corners of the element's border */
}

/* Styles for the first anchor tag in a list within .nav-pills inside .color-tabs */
.color-tabs > .nav-pills > li:nth-of-type(1) > a {
  color: $pink; /* Sets the text color to black */
  background-color: $cream; /* Sets the background color to white */
  border-radius: 8px !important; /* Sets rounded corners with 8 pixels radius, !important overrides other conflicting styles */
}

/* Styles for hover, focus and active states of the first anchor tag in a list within .nav-pills inside .color-tabs */
.color-tabs > .nav-pills > li:nth-of-type(1) > a:hover, .color-tabs > .nav-pills > li:nth-of-type(1) > a:focus, .color-tabs > .nav-pills > li:nth-of-type(1).active > a, .color-tabs > .nav-pills > li:nth-of-type(1).active > a:hover, .color-tabs > .nav-pills > li:nth-of-type(1).active > a:focus {
  background-color: $pink; /* Sets the background color to a pink shade */
  color: $pink; /* Sets the text color to white */
}


/* Sets the background color and text color for hovered anchor tags within a list in .nav */
.nav > li > a:hover {
  color: $pink; /* Sets the background color to a pink shade */
  background-color: $cream; /* Sets the text color to white */
}

/* Sets the text color for anchor tags with role attribute set to tab */
a[role=tab] {
  color: $pink; /* Sets the text color to a pink shade */
}



/* -------------- Misc Styling  -------------------*/

.quarto-title-block .quarto-title-banner {
  background-image: url(www/images/act-logo.png);
  background-size: 800px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}

/* Media query for print styling */
@media print {
  /* Hide elements with ids #TOC, #toc, #header-pinned and class .nav-tabs, .exclude when printing */
  #TOC, #toc, #header-pinned, .nav-tabs, .exclude {
    display: none;
  }

  /* Remove padding from the top of elements with class .contentBlock.title */
  .contentBlock.title {
    padding-top: 0px;
  }

  /* Set height of elements with class .expandContainer for print */
  .expandContainer {
    height: fit-content !important; /* Fit the content's height, !important overrides other conflicting styles */
    height: -moz-fit-content; /* Fit the content's height, for Mozilla browsers */
  }

  /* Force display block for elements with class .expandFull */
  .expandFull {
    display: block !important; /* Forces the element to be displayed as a block, !important overrides other conflicting styles */
  }
}

/* -------------- Div tips-------------------*/

div.warning, div.tip, div.tryit, div.challenge, div.explore {
  border: 4px #dfedff; /* very light blue */
  border-style: solid;
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px top left;
  min-height: 120px;
  color: #00274c; /* blue text */
  background-color: #bed3ec; /* light blue background */
}


div.tip {
  background-image: url("www/images/tip.png");
  background-color: #fff7bc; /* warm yellow background */
}


div.explore {
  background-image: url("www/images/explore.png");
  background-color: #d0faee; /* green card background */
}


