/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// Fonts

// stylelint-disable value-keyword-case
$font-family-sans-serif: 'Montserrat', Roboto, sans-serif;

// stylelint-enable

$font-size-root: 1rem;
$heading-font: 'Roboto', sans-serif;

// Colors
$yellow: #D6A123;
$pink: #ED0A72;
$light-pink: lighten($pink, 20%);
$magenta: #D442CF;
$orange: #AB5833;
$yellow-brown: #978638;
$purple: #5D4E78;
$blue: #36689F;
$light-green: #70910B;
$gray-green: #858E79;
$cream: #FDFBF7;
$gray: #64605f;
$dark-gray: #696B4F;
$light-gray: #8FAEBE;

// $body-bg: $cream
/*-- scss:rules--*/

/* -------------- Global Formats -------------------*/
/* Sets the margin for paragraph elements */
/* Define a mixin for font styling */
/* Define a mixin for font styling */

@mixin font-style($font-family, $font-size, $color, $font-weight: null) {
  font-family: $font-family;
  font-size: $font-size;
  color: $color;
  font-weight: $font-weight;
}

/* Define a mixin for margin styling */
@mixin margin-style($top, $right, $bottom, $left) {
  margin: $top $right $bottom $left;
}

/* Define a mixin for background and border styling */
@mixin background-border-style($background-color, $border: null, $border-radius: null) {
  background-color: $background-color;
  border: $border;
  border-radius: $border-radius;
}


/* Use the mixins in styles */
p {
  @include margin-style(10px, 0, 10px, 0);
  // max-width: 65ch;
  line-height: 1.5em;
  @include font-style($font-family-sans-serif, null, null, null);
  font-weight: $font-weight-normal;
}

h1 {
  @include font-style($heading-font, 1.75em, $blue);
  @include margin-style(0, 0, 0, 0); //
}

h2{
  @include font-style($heading-font, 1.4em, $yellow);
}

h3, h4, h5, h6 {
  @include font-style($heading-font, 1.1em, $yellow);
  /* Uncomment the following line if you want to apply the same margin style as h1 */
  /* @include margin-style(5.0, 0, .5em, 0); */
}

/* -------------- Navbar + Pills Formats -------------------*/

/* Some terminology: */
/* navtabs: the tabs displayed in panel-tabset */
/* nav-link: the text inside the tabs */
/* tab-content: the content displayed when a tab is clicked */

.navbar {
  display: block;
  @include background-border-style($blue, 1px);
  @include font-style($font-family-sans-serif, 90%, $cream, bold);
}

.navbar-nav {
  .nav-link {
    color: $cream;
    &:hover {
      color: lighten($yellow, 30%);
    }

    &.show, &.active, &:active {
      color: $yellow;
    }

    &.show:hover, &.active:hover, &:active:hover {
      color: lighten($yellow, 30%);
    }
  }
}
.nav {
  & > .nav-tabs > .tablist {
    display: inline-table;
    overflow-y: auto;
    @include background-border-style($cream, '1px solid #ddd', '4px');
    background-color: $cream;
    color: $pink;
  }

  & > li > a:hover {
    @include background-border-style($cream, null, null);
    color: $cream;
    background-color: lighten($pink, 30%);
  }
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: $pink;
  color: $cream;
}

.color-tabs {
  & > .nav-pills > li:nth-of-type(1) {
    & > a {
     //  @include background-border-style($pink, null, '8px !important');
      // background-color: $cream;
      color: $pink;
    }

    & > a:hover, & > a:focus, &.active > a, &.active > a:hover, &.active > a:focus {
     // @include background-border-style($pink);
    //  background-color: $cream;
      color: $pink;
    }
  }
}

/* Sets the text color for anchor tags with role attribute set to tab */
a[role=tab] {
  //background-color: $cream; /* Sets the text color to a pink shade */
  color: $pink;
}

/* -------------- Misc Styling  -------------------*/

.quarto-title-block .quarto-title-banner {
  background-image: url(www/images/act-logo.png);
  background-size: 400px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}

.figure-caption {
  font-size: 0.8rem;
}

/* Media query for print styling
@media print {
  Hide elements with ids #TOC, #toc, #header-pinned and class .nav-tabs, .exclude when printing
  #TOC, #toc, #header-pinned, .nav-tabs, .exclude {
    display: none;
  }

  Remove padding from the top of elements with class .contentBlock.title
  .contentBlock.title {
    padding-top: 0px;
  }

  Set height of elements with class .expandContainer for print
  .expandContainer {
    height: fit-content !important;  Fit the content's height, !important overrides other conflicting styles
    height: -moz-fit-content;  Fit the content's height, for Mozilla browsers
  }

  Force display block for elements with class .expandFull
  .expandFull {
    display: block !important;  Forces the element to be displayed as a block, !important overrides other conflicting styles
  }
}
*/


/* -------------- Div tips-------------------*/

div.warning, div.tip, div.tryit, div.challenge, div.explore {
  border: 4px #dfedff; /* very light blue */
  border-style: solid;
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px top left;
  min-height: 120px;
  color: #00274c; /* blue text */
  background-color: #bed3ec; /* light blue background */
}


div.tip {
  background-image: url("www/images/tip.png");
  background-color: #fff7bc; /* warm yellow background */
}


div.explore {
  background-image: url("www/images/explore.png");
  background-color: #d0faee; /* green card background */
}

/* Vertical centering of text in blockquote */
.blockquote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: lighten($blue, 20%);
}


/* -------------- Download Button -------------------*/

.button_large {
  font-size: 20px;
  font-family: $font-family-sans-serif;
  background: $pink;
}

/* from https://ianlunn.github.io/Hover/ */
.hvr-sweep-to-left {
  font-size: 24px;
  font-family: $font-family-sans-serif;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $pink;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  color: $cream;
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
