/* Proxima Nova for body text, tables, charts, and anything small.
FreightMacro Pro for headlines and titles */

.container-fluid {
  font-family: 'Proxima Nova', serif;
}

/* make titles blue */
h1, h2 {
  color: #D6A123;
  margin: 0 0 .5em;
}

/* paragraph styles */
p {
  margin: 0 0 8px 0;
}

.cols {
  display: flex;
  gap: 10px;
}

.nav> .nav-tabs > .tablist {
  display: inline-table;
  max-height: 500px;
  min-height: 44px;
  overflow-y: auto;
  background: white;
  border: 1px solid #8FAEBE;
  border-radius: 4px;
}

.navbar {
  display: block;
  background-color: #D6A123;
  color: #ffffff;
  font-weight: bold;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a {
  color: #FFFFFF;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #D6A123;
  background-color: #FFFFFF;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  color: #FFFFFF;
  background-color: #D6A123 !important;
  border-radius: 8px !important;
}

.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited  {
  color: #FFFFFF;
  background-color: #D6A123 !important;
  border-radius: 8px !important;
}


/* Global Formats */
.main-container {
  font-family:'Proxima Nova', serif;
}

.tab-content{
    margin-bottom: 50px;
}

/* Hyper-links */
.a {
  color: #47C3D3;
}

/* Header image formatting */
#header {
  padding-top: 12px;
}


/* Button Formatting */
.btn {
  border-radius: 0;
}

/*pills formatting */


.nav>li>a:active{
	background-color: #ED0A72;
	color: white;
}

.nav>li>a:hover {
	background-color: #ED0A72;
	color: white;
}

a[role=tab] {
	color: #ED0A72
}

@media print{
    /* remove elements */
    #TOC, #toc, #header-pinned{
        display: none;
    }
    .nav-tabs{
        display: none;
    }
    .exclude{
        display: none;
    }
    .contentBlock.title{
        padding-top: 0px;
    }
    .expandContainer{
        height: fit-content !important;
        height: -moz-fit-content;
    }
    .expandFull{
        display: block !important;
    }

}
